@{
    Layout = "_PortfolioLayout";
}
<div class="text-center">
    <div class="bigimg1 parallaxpic">
        <h1 class="bheader" data-aos="zoom-in">
            Saeed Shariati
        </h1>
        <h2 class="bheader" style="letter-spacing:0.3em" data-aos="fade-up" data-aos-delay="400">
            Back-End Developer
        </h2>
        <div class="chevron" data-aos-delay="800" data-aos="fade-up">
            <a class="internal" href="#section2">
                Scroll down
                <br />
                <i class="icon-chevron-down tbrown icon-2x"></i>

            </a>
        </div>
        <div class="sections text-center" id="section2">
            <h3> My skill set</h3>
            <div class="badges">
                <div class="badge">C#</div>
                <div class="badge">Asp.net Core 3 (MVC and Razor pages)</div>
                <div class="badge">REST API</div>
                <div class="badge">Unit testing with xunit and Moq</div>
                <div class="badge">SQL server</div>
                <div class="badge">Entity Framework Core</div>
                <div class="badge">Windows form</div>
                <div class="badge">Asynchronous programming with C#</div>
                <div class="badge">Parallel programming with C#</div>
                <div class="badge">Entity Framework Core</div>
                <div class="badge">SOLID principles</div>
                <div class="badge">GoF patterns</div>
                <div class="badge">Javascript</div>
                <div class="badge">Typescript</div>
                <div class="badge">HTML</div>
                <div class="badge">CSS</div>
                <div class="badge">SCSS</div>
                <div class="badge">C++</div>
                <div class="badge">python</div>
            </div>
        </div>
    </div>
    <div class="bigimg2 parallaxpic">
        <div class="sections text-center" id="section3">
            <h3> Hi, I'm Saeed</h3>
            <p style="font-size:18px;text-align:left;">
                I'm a C# programmer and Back-End web developer, I'm a pro at asp.net core 3 and I'm able to write a REST api, a shopping website or just a personal website. I'm currently studying pure mathematics at Isfahan University and continuing to learn programming on my own. I learned C# around 6 years ago and I know a lot of the details of the language. I'm familiar with several languages like python, C++ and javascript.
                <br />
                I also run a telegram channel where I teach some of the topics that I like, you can find it here: t.me/CSharp_Learn
                <br />
                <br />
                <div class="clinks">
                        <a href="mailto:doloresdotnet@gmail.com">
                            <div><img src="/svg/mail.svg" style="width:27px;" class="icon" /></div>
                            <div>doloresdotnet@gmail.com</div>
                        </a>
                        <a href="https://github.com/SaeedShariati">                   
                            <div><i class="icon icon-github icon-2x"></i></div>
                            <div>
                                github.com/SaeedShariati
                            </div>
                        </a>
                </div>

            </p>

        </div>
    </div>
</div>
