* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

::-webkit-scrollbar-track {
  background-color: #222831;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: linear-gradient(#2aa08c, #32e0c4);
}

a, a:visited, a:hover, a:active {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

@font-face {
  font-family: WebYekan;
  src: url("../fonts/Yekan.ttf");
}
header {
  font-family: WebYekan;
  font-size: 18px;
}

div#overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

ion-icon {
  color: #ffffff;
  --ionicon-stroke-width: 40px;
  pointer-events: none;
}

article {
  font-size: 12px;
  font-family: tahoma;
  line-height: 2em;
  text-align: justify;
}

body, html {
  background-color: #222831;
  min-height: 100vh;
  height: 100%;
  font-size: 1.1em;
  color: white;
  font-size: 12px;
  font-family: tahoma;
  direction: rtl;
  word-wrap: break-word;
}

nav {
  box-shadow: 0px 0px 8px 2px #000000;
  background-color: #393e46;
  width: 100%;
  display: block;
}
nav div#logo {
  padding: 5px 30px;
  position: absolute;
  left: 10px;
  font-family: monospace;
  font-size: 22px;
  display: inline-block;
}
nav ul {
  display: inline-block;
  margin: 0px;
  right: 0px;
  position: relative;
}
nav ul li {
  text-align: center;
  height: 100%;
  display: inline-block;
}
nav ul li a {
  padding: 5px 30px;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
  font-size: 20px;
}
nav ul li a .icon {
  position: relative;
  font-size: 18px;
  vertical-align: middle;
}
nav ul li:hover {
  cursor: pointer;
  background-color: #222831;
}

body > div.container div#content {
  padding: 10px;
}
body > div.container div#content aside#sidebar {
  min-height: 100px;
  display: block;
  float: left;
}
body > div.container div#content div#main {
  float: right;
  min-height: 100px;
  display: block;
  clear: right;
}

aside#sidebar, div#main {
  border: 1px solid #2aa08c;
}

article.postSummary {
  margin: 5px;
  min-height: 100px;
  display: block;
  background-color: #393e46;
}
article.postSummary header {
  color: #eeeeee;
  background-color: #2aa08c;
  height: 50px;
  width: 100%;
  display: table;
  text-align: center;
}
article.postSummary header h3 {
  font-family: WebYekan;
  font-size: 20px;
  font-weight: 500;
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
article.postSummary div.content {
  padding: 15px;
}
article.postSummary footer {
  height: 60px;
  border-top: 1px solid #d65a31;
  color: #818181;
  font-size: 0.8em;
  padding: 5px;
}

article.postSummary:hover {
  outline: 1px solid #ffffff;
}

span.tag {
  background-color: #2aa08c;
  display: inline-block;
  transition: background-color linear 1s;
  padding: 5px 10px;
  border-radius: 10px;
  height: 35px;
  margin: 5px;
  overflow: hidden;
}

span.tag:hover {
  background-color: #32e0c4;
  cursor: pointer;
}

article.post {
  padding: 0px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  border: 2px solid #2aa08c;
  background-color: #393e46;
}
article.post > header {
  background-color: #2aa08c;
  width: 100%;
  position: relative;
  padding: 8px 15px;
  line-height: 25px;
}
article.post > header > span.title {
  font-size: 20px;
  font-weight: 500;
}
article.post > header > div.authorStamp {
  position: relative;
  font-size: 12px;
  color: #cccccc;
}
article.post > div.container {
  padding: 10px;
}
article.post > footer {
  padding: 10px;
}
article.post > footer > div.tags span.icon > ion-icon {
  color: #2aa08c;
}
div#commentSection {
  background-color: #393e46;
  border: 2px solid #2aa08c;
  margin-top: 10px;
}
div#commentSection > header {
  text-align: center;
  background-color: #2aa08c;
  line-height: 40px;
}
div#commentSection div.comment {
  margin: 10px;
  font-size: 12px;
  font-family: WebYekan;
  text-align: right;
  border: 2px solid #32e0c4;
}
div#commentSection div.comment > header {
  padding: 10px;
  background-color: #2aa08c;
  position: relative;
}
div#commentSection div.comment > header > span.rating {
  position: absolute;
  left: 10px;
  top: 10px;
}
div#commentSection div.comment > div.container {
  padding: 10px;
}

div#signin {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
  padding: 0px;
}
div#signin > header {
  height: 40px;
  position: relative;
  background-color: #d65a31;
  text-align: center;
  line-height: 40px;
  border-spacing: 0px;
  margin-bottom: -1px;
  /*to close the small gap between heaer and container, I don't know why it exists*/
}
div#signin > header > span.close-icon {
  position: absolute;
  height: 40px;
  line-height: 40px;
  left: 0px;
  font-size: 32px;
  width: 40px;
  padding: 5px;
}
div#signin > header > span.close-icon:hover {
  background-color: #ec8867;
  cursor: pointer;
}
div#signin > .container {
  background-color: #393e46;
  border: 3px solid #d65a31;
  border-top: none;
  width: 100%;
  padding: 20px;
}

.form-control {
  width: 100%;
  height: 30px;
  margin-top: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.btn {
  font-family: WebYekan;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  background: #222831;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #393e46;
  text-decoration: none;
  cursor: pointer;
}

.text-danger {
  color: #ff3131;
  font-family: monospace;
}

.validation-summary-errors {
  border: 1px solid #ff3131;
  padding: 10px 25px;
  margin: 0px 0px 10px 0;
}

div#Register {
  padding: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #393e46;
  border: 2px solid #2aa08c;
}
div#Register > header {
  background-color: #2aa08c;
  width: 100%;
  position: relative;
  padding: 8px 15px;
  line-height: 25px;
}
div#Register > header > span.title {
  font-size: 20px;
  font-weight: 500;
}
div#Register > .container {
  padding: 20px;
}

/*# sourceMappingURL=Layout.css.map */
