@{ 
    Layout = "_SimpleLayout";
    ViewBag.Title = "About";
}

<div id="content" class="row">
    <article class="post col-7 col-m-9">
        <header>درباره من</header>
        <div class="container">
            <p>
                من سعید شریعتی هستم، برنامه نویس سی شارپ و
                Asp.Net Core .
                فرانت اند و بک اند این وبسایت توسط من انجام شده.
            </p>
        </div>
        <footer>
            <div class="clinks">
                <a href="mailto:doloresdotnet@gmail.com">
                    <div  style="height:28px;" ><img style="width:28px;" src="~/svg/whitemail.svg" /> </div>
                    <div>doloresdotnet@gmail.com</div>
                </a>
                <a href="https://github.com/SaeedShariati">
                    <div><i class="icon icon-github icon-2x"></i></div>
                    <div>
                        github.com/SaeedShariati
                    </div>
                </a>
            </div>
        </footer>
    </article>
</div>