@{ 
    Layout = "_SimpleLayout";
    ViewBag.Title = "About";
}

<div id="content" class="row">
    <article class="post col-7 col-m-9">
        <header>درباره من</header>
        <div class="container">
            <p>
                من سعید شریعتی هستم، برنامه نویس سی شارپ و
                Asp.Net Core .
                فرانت اند و بک اند این وبسایت توسط من انجام شده.
            </p>
        </div>
        <footer></footer>
    </article>
</div>