<div id="signin" class="hidden col-lg-7 col-8 col-m-9">
    <header>
        <span onclick="toggleSignin()" class="icon close-icon">
            <ion-icon name="close-outline"></ion-icon>
        </span>
        <h5>ورود / ثبت نام</h5>
    </header>
    <div class="container">
        <form action="post">
            <div class="form-group">
                <label>نام کاربری:</label>
                <div>
                    <span class="text-danger"></span>
                </div>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>گذرواژه:</label>
                <div>
                    <span class="text-danger"></span>
                </div>
                <input class="form-control" />
            </div>

        </form>
    </div>
</div>